aiofiles
aiosqlite
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
Brotli
cached-property
certifi==2023.7.22
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
jedi
Jinja2
json5
jsonpointer==2.0
jsonschema-specifications
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
munkres==1.1.4
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
ply==3.11
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
py4j==0.10.9.7
Pygments
pyparsing
PyQt5==5.15.9
PySocks
pyspark==3.4.1
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
Send2Trash
sip
six
sniffio
soupsieve
stack-data
terminado
tinycss2
toml
tomli
tornado
traitlets
typing-utils
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings==0.5.1
y-py
ypy-websocket
zipp